<!-- Privacy Policy Modal -->
<div class="modal fade" id="privacyModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Политика конфиденциальности</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <h6>1. Сбор информации</h6>
                <p>Мы собираем информацию, которую вы предоставляете при заполнении контактной формы: имя, email и сообщение.</p>
                
                <h6>2. Использование информации</h6>
                <p>Информация используется исключительно для связи с вами и ответа на ваши запросы.</p>
                
                <h6>3. Защита информации</h6>
                <p>Мы принимаем меры для защиты ваших персональных данных от несанкционированного доступа.</p>
                
                <h6>4. Cookies</h6>
                <p>Сайт может использовать cookies для улучшения пользовательского опыта.</p>
            </div>
        </div>
    </div>
</div>

<!-- Offer Agreement Modal -->
<div class="modal fade" id="offerModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Договор оферты</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <h6>1. Общие положения</h6>
                <p>Настоящий документ является официальным предложением (офертой) врача-эндокринолога Кармиркардиевой Алины Мкртычевны оказать вам медицинские консультационные услуги.</p>
                
                <h6>2. Порядок заключения договора</h6>
                <p>Договор считается заключенным с момента вашей оплаты консультации. Оплата означает ваше полное согласие со всеми условиями данной оферты.</p>
                
                <h6>3. Стоимость услуг</h6>
                <p>Стоимость консультации указана в прайс-листе на момент записи и оплаты. Вы можете уточнить ее по телефону +7 (993) 450-91-31 или в сообщении на электронную почту: neboleyy@yandex.ru.</p>
                
                <h6>4. Сроки и порядок консультаций</h6>
                <p>Дата и время консультации согласовываются сторонами индивидуально путем записи. Консультация проводится онлайн в согласованном формате (видеозвонок).</p>
                
                <h6>5. Обязанности и гарантируетарантии</h6>
                <p>    • Врач обязуется: провести консультацию профессионально, в соответствии с медицинскими стандартами, предоставить рекомендации и сохранять врачебную тайну.</p>
                <p>    • Пациент обязуется: предоставить достоверную информацию о состоянии здоровья и имеющихся результатах обследований.</p>
                <h6>6. Ответственность</h6>
                <p>Врач не несет ответственности за ваше здоровье, если вы не будете следовать данным рекомендациям. Все назначения носят рекомендательный характер, и решение об их выполнении принимаете вы.</p>
                <h5>"Оплачивая консультацию, вы соглашаетесь с условиями оферты" </h5>
            </div>
        </div>
    </div>
</div>